* {
    margin: 0px;
    padding: 0px;
}

#cabecalho {
    background-color: yellow;
    padding-bottom: 1%;
}

#rodape {
    background-color: yellow;
}

#conteudo {
    text-align: center;
}

#conteudo h1 {
    margin: 2%;
}

#conteudo p {
    margin: 2%;
}

#conteudo img {
    margin-bottom: 2%;
}

#logo {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#nav-bar {
    text-transform: uppercase;
    margin-left: 25%;
}

#nav-bar a {
    padding: 1%;
    color: black;
    margin-right: 1%;
    font-weight: bold;
    font-size: 100%;
}

a:link {
    text-decoration: none;
}

a:hover{
    background-color: white;
}

#rodape p {
    font-size: 80%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

table td{
    border: 1px solid yellow;
    border-collapse: collapse;
    font-weight: bold;
}

table th {
    border: 1px solid yellow;
    border-collapse: collapse;
    text-align: left;
}

#conteudo table {
    text-align: center;
    display: inline;
    margin: 2%;
}

form {
    font-weight: bold;
    margin: 2%;
}

button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 100%;
    padding: 0.5% 0.5%;
    text-transform: uppercase;
    border-radius: 7%;
    border-style: none;
    margin: 0 auto;
}