* {
    margin: 0px;
    padding: 0px;
}

#cabecalho {
    background-color: yellow;
    padding-bottom: 1%;
}

#rodape {
    background-color: yellow;
}

#conteudo {
    text-align: center;
}

#conteudo p{
    margin: 1%;
    text-align: center;
}

#conteudo h1 {
    margin: 2%;
}

#conteudo form  input{
    margin: 0 auto;
}

#conteudo ul {
    margin: 1%;
    list-style-type: none;
    text-align: center;
    font-size: 150%;
}

#conteudo form input {
    margin: 0 auto;
}

#conteudo form label{
    font-weight: bold;
}

#conteudo form p{
    font-weight: bold;
}

#campo-car {
    width: 30%;
    height: 5%;
}

#logo {
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#nav-bar {
    text-transform: uppercase;
    margin-left: 25%;
}

#nav-bar a {
    padding: 1%;
    color: black;
    margin-right: 1%;
    font-weight: bold;
    font-size: 100%;
}

a:link {
    text-decoration: none;
}

a:hover{
    background-color: white;
}

#rodape p {
    font-size: 80%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

button {
    margin: 2%;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 150%;
    padding: 0.5% 1%;
    border-style: none;
}